body {
  background-color: bisque;
}

img {
  width: 300px;
}

.container-description {
  display: inline-block;
}

.subtitle {
  color: hsl(120, 80%, 25%);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 30px;
}

.subtext {
  display: inline-block;
  width: 300px;
  margin-left: 30px;
}

.menu-item {
  width: 200px;
  display: inline-block;
}

.menu-item::before {
  content: "📍";
}

.footer1 {
  margin: 100px 0;
  color: hsl(10, 80%, 25%);
}
