.container-images {
  margin: auto;
  text-align: center;
}

img {
  width: 150px;
  margin: 30px;
  display: inline-block;
}

.subtitle {
  text-align: center;
  font-size: 1.7em;
  color: rgb(90, 210, 255);
}

.subtext {
  text-align: center;
}

span {
  font-size: 1.5em;
  color: rgb(90, 210, 255);
}

.some {
  display: inline;
}

.some::before {
  content: "✅";
}

.contacts {
  margin: auto;
  text-align: center;
}

footer img {
  box-sizing: content-box;
  border: 3px solid rgb(90, 210, 255);
  width: 600px;
  height: 200px;
  padding: 10px;
}

footer p {
  box-sizing: border-box;
  border: 3px solid rgb(90, 210, 255);
  width: 600px;
  height: 200px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

footer {
  text-align: center;
}
