body {
  margin: 0;
  background-color: lightsteelblue;
}

.main-img {
  width: 100%;
  height: 100px;
  margin-top: 0;
}

.subtitle {
  margin-right: 20px;
}

h1 {
  margin-right: 20px;
}

.header-image {
  position: fixed;
  width: 100%;
  text-align: right;
  font-size: large;
  margin-right: 20px;
}

.container-images img {
  width: 500px;
  display: block;
}

.container-images {
  position: relative;
  top: 100px;
  left: 20px;
}

.container-images img:last-of-type {
  position: sticky;
  bottom: 100px;
  width: 150px;
  height: 150px;
}

footer {
  position: absolute;
  text-align: right;
  padding: 5px 20px;
  background-color: darkslategrey;
  color: lightpink;
}
